
html{
    background-color: #fdf1d3;
}

body{
    margin-left: 40px;
    margin-top: 60px;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

iframe{
    border: none;
    width: 100%;
    height: 60px;
}


.grid-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 20px; 
}

.kartica {
    width: 300px; 
    transition: width 0.5s ease;
}

.prosirena {
    justify-content: center;
    text-align: center;
    width: 500px; 
    grid-column: span 2;
    place-self: center;
}

img {
    max-width: 260px;
    margin-top: 20px;
    margin-left: 20px;
}

.div4 { 
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.div1,
.div2{
    justify-content: left;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 20px;
}

.div3 {
    justify-content: right;
    text-align: right;
    margin-right: 20px;
}
.stan{
    border: 1px solid black;
    font-size: 14px;
    background-color: white;
}

.kuca{
    border: 1px solid black;
    font-size: 14px;
    background-color: powderblue;
}
.pp{
    border: 1px solid black;
    font-size: 14px;
    background-color: green;   
}

.btn{
    border: 2px solid black;
    border-radius: 20px;
    background-color: rgba(1,1,1,0);
    padding: 6px 9px;
    font-weight: 600;
}

.btn:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.search-container {
    text-align: center;
}
  
.search-container button {
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
  
.search-container button:hover {
    background: #ccc;
}